<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Search Engine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static\style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
</head>

<body>
    <header>
    <div class="title">
        <h2>Health Domain Specific Search Engine</h2>
    </div>
      <div class="top-header">
        <div class="top-header__left-sec">
          <div class="search-container">
            <div class="search-container__left-sec">
              <span
                class="material-icons search-container__left-sec--srch-icon"
              >
                search
              </span>

            <form method='get' action="{{url_for('home')}}">
              <input
                type="search"
                name="search"
                id="inp--searchbox"
                autocomplete="off"
                
              />
            </div>

            <div class="search-container__right-sec">
              <span class="material-icons"> close </span>
              <button name="search-btn" value="search_select" class="search"><span class="material-icons"> search </span></button>
            </div>

          </form>
          </div>
        </div>

        

        
      <div class="bottom-header">
        
      </div>
    </header>

    <main>
      
      
      <div class="main-container">
        {% if results %}
        <h3 class="search-results"> Search Result: {{query}}</h3>
        
        <div class="search-delay">
          About {{num_found}} results ({{response_time}} seconds)
        </div>
        
        {% for result in results %}
        <div class="result-item">
          <div class="result-item-link">
            
            <a href="{{result['link']}}"> {{result['source_id']}}</a>
           
            <a href="#"><span class="material-icons-outlined dots">
                more_vert
            </span></a>

          </div>
          
          <h3><a href="{{result['link']}}">{{result['title']}}</a></h3>
          
          <p class="description">
            
            {{result['description']}}
            
          </p>
          
        </div>
        {% endfor %}
       
      {% else %}
      <h3 class="search-results-not-found"> No result is found for "{{query}}" </h3>
      {% endif %}

      {% if pagination %}
      <div class="pagination">
        {{ pagination.info }}
        {{ pagination.links }}
         
      </div>
      {% endif %}
      </div>

     

    </main>

    <footer>
      <div class="top-footer-container">
        <div class="top-footer">
           &copy; 2023 <a href="#">Ho Khum Leon & Montri Srisuwan</a>. All Rights Reserved
        </div>
      </div>
      
    </footer>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</body>
</html>