<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" type="text/css" href="static\style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
</head>

<body>
    <header>
    <div class="title">
        <h2>Domain Specific Search Engine</h2>
    </div>
      <div class="top-header">
        <div class="top-header__left-sec">
          <div class="search-container">
            <div class="search-container__left-sec">
              <span
                class="material-icons search-container__left-sec--srch-icon"
              >
                search
              </span>
              <input
                type="search"
                name="search"
                id="inp--searchbox"
                autocomplete="off"
                value="codewithfaraz"
              />
            </div>

            <div class="search-container__right-sec">
              <span class="material-icons"> close </span>
              <span class="material-icons"> search </span>
            </div>
          </div>
        </div>

        

        
      <div class="bottom-header">
        
      </div>
    </header>

    <main>
      <div class="main-container">
        <div class="search-delay">
          About 17,000,000 results (0.35 seconds)
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#">https://www.codewithfaraz.com</a>
            <a href="#"><span class="material-icons-outlined dots">
                more_vert
            </span></a>

          </div>
          <h3><a href="#">Code with Faraz - Best Front-End Components and Blogs</a></h3>
          <p>
            codewithfaraz is an up-to-date collection of accessible front-end components, blogs and tutorials related to technology, programming and web development.
          </p>
          <div class="sub-result-container">
            <div class="sub-result-item">
              <h3><a href="#">Components</a></h3>
              <p>Find an up-to-date collection of accessible front-end components ...</p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">Blogs</a></h3>
              <p>
                Get Latest Blogs related to technology, programming ...
              </p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">About</a></h3>
              <p>
                This is Faraz Choudhary admin of codewithFaraz.com ...
              </p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">Privacy Policy</a></h3>
              <p>
                This Privacy Policy applies only to our online activities and is valid for
                ...
              </p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">Contact</a></h3>
              <p>Lets talk about everything! Whether you have a question ...</p>
            </div>
          </div>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#">https://www.codewithfaraz.com › components </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3><a href="#">Latest Front-End Components - codewithFaraz</a></h3>
          <p>
            Find an up-to-date collection of accessible front-end components. Components are used to define custom, reusable HTML elements.
          </p>
        </div>
       
       
      </div>

    </main>

    <footer>
      <div class="top-footer-container">
        <div class="top-footer">
           &copy; 2023 <a href="#">Ho Khum Leon & Montri Srisuwan</a>. All Rights Reserved
        </div>
      </div>
      <div class="bottom-footer">
      </div>
    </footer>
  
</body>
</html>